<a href="https://colab.research.google.com/github/Samuyel-256/AI-DECK/blob/main/PYTHON_CRT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#-------------------------------------------------------------# 30/06/2025  #-------------------------------------------------------------#

In [ ]:
# How to run python on vs Code :

# first we have to save a file in the name of .py in vs code and next click on terminal and new terminal in that we type "PYTHON FILENAME.PY" to run code in vs code

INPUT & OUTPUT FUNCTIONS

In [ ]:
# INPUT & OUTPUT FUNCTIONS :

#-------------------------------------------------------------#

# How to take Input function :

# variable=input()

#-------------------------------------------------------------#

# How to take Output function :

# To get the output we use : print() function

# EX : for input and output function

#-------------------------------------------------------------#

a=input()
print(a)

samuyel
samuyel

VARIABLES

In [ ]:
# VARIABLES :

# # It is used to store the data.
# It is a container to store data so that we can use for further statements

# EX :

lp1=50000
lp2=60000
sum=lp1+lp2
print(sum)

# Here lp1 and lp2 are the variables to store the data

110000

DATA TYPES

In [ ]:
# DATA TYPES IN PYTHON :

# 1. INT     : 1,-1,3 ( also called integer )
# 2. FLOAT   : 1.24 , -3.14
# 3. STRING  : samuyel , SAMUYEL
# 4. BOOLEAN : true / false

# EX :

# INT
age = 20

# FLOAT
height = 5.9

# STRING
name = "Samuyel"

# BOOLEAN
is_adult = age >= 18

# OUTPUT
print("Name        :", name)
print("Age         :", age)
print("Height (ft) :", height)
print("Is Adult?   :", is_adult)

Name        : Samuyel
Age         : 20
Height (ft) : 5.9
Is Adult?   : True

CONDITIONS

In [ ]:
# # # CONDITIONS IN PYTHON :

#-------------------------------------------------------------#

# TYPES :
# 1. IF CONDITION
# 2. ELSE CONDITION
# 3. ELIF CONDITION
# 4. NESTED IF CONDITION (IF ELIF ELSE)

#-------------------------------------------------------------#

# # IF CONDITION :
# if is used to run code only when a certain condition is true.

# # ELIF CONDITION :
# elif (else if) is used when you want to check multiple conditions one after another.

# # NESTED IF CONDITION
# Nested if means placing one if, elif, or else inside another — like decision inside a decision.

# # ELSE CONDITION
# else is used to run code when all the above conditions fail. It's like the final "otherwise" block.

#-------------------------------------------------------------#

# Syntax :

#  if Condition :
#      block of statement
#  elif condition :
#      block of statement
#  else :
#      block of statement

#-------------------------------------------------------------#

#EX :
age = int(input())
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

18
eligible for voting

In [ ]:
# TO FIND THE SECOND MAXIMUM NUMBER :

a,b,c=map(int,input().split())

if (a > b and a < c) or (a < b and a > c):
    print("Second maximum is:", a)
elif (b > a and b < c) or (b < a and b > c):
    print("Second maximum is:", b)
else:
    print("Second maximum is:",c)

10 22 12
Second maximum is: 12

In [ ]:
# TO FIND SCHOLAR SHIP USING NESTED IF :

marks = int(input("Enter marks: "))
income = int(input("Enter income: "))

if marks > 85:
    if income > 200000 and income < 500000:
        print("You are eligible for scholarship")
else:
    print("Not eligible")

Enter marks: 90
Enter income: 300000
You are eligible for scholarship

In [ ]:
# AGE :

a = int(input("enter age : "))
if a >= 1 and  a <= 12 :
    print("child")
elif a >= 13 and  a <= 19:
    print("teen age")
elif a >= 20 and  a <= 35:
    print("young")
else:
    print("old")

enter age : 67
old

LOOPS

In [ ]:
# # LOOPS :

# #-------------------------------------------------------------#

# # UNIVERSAL LANGUAGE SYNTAX FOR "C"
# # for (initialisation;condition;step) {
# #     block of statement
# # }

# #-------------------------------------------------------------#

# # PYTHON LANGUAGE SYNTAX

# # FOR LOOP :
# # for i in range(start,end,step):
# #     block of statement

# #-------------------------------------------------------------#

# # WHILE LOOP :
# while condition:
#     block of statement
#     step

In [ ]:
# FOR LOOP EX'S :

# EX 1: FOR PYTHON
for i in range(1,10,2):
    print(i)

#-------------------------------------------------------------#

# EX 2: FOR PYTHON
for i in range(10,0,-1):
    print(i)

1
3
5
7
9
10
9
8
7
6
5
4
3
2
1

In [ ]:
# EX 1: WHILE LOOP
i = 1
while i < 11:
    print(i)
    i += 1

#-------------------------------------------------------------#

# EX 1: WHILE LOOP
i = 10
while i >= 1:
    print(i)
    i-= 1

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

In [ ]:
a=17%2
print(a)

1

In [ ]:
# REVERSE A NUMBER :

num = 121
rev = 0

while num != 0:
    temp = num % 10
    rev = rev * 10 + temp
    num = num // 10
print("Reversed Number:", rev)
if temp==rev:
    print("palindrome")
else:
    print("not palindrome")

Reversed Number: 121
not palindrome

In [ ]:
#TO REVERSE A STRING

a=input()
print(a[::-1])

leyumas
samuyel

In [ ]:
#-------------------------------------------------------------# 03/07/2025  #-------------------------------------------------------------#

In [ ]:
# STRING LENGHT USING WHILE
n=int(input())
# n = abs(n) for -ve
count=0
while n!=0 :
  count+=1
  n=n//10
print(count)

434532
6

ARMSTRONG NUMBER

In [ ]:
#ARMSTRONG NUMBER BY AI


n = int(input("Enter a number: "))
temp = n
a = len(str(n))
sum = 0

while temp > 0:
    c = temp % 10
    sum += c ** a
    temp //= 10

if sum == n:
    print(" Armstrong number ")
else:
    print(" NOT an Armstrong number ")






# 🧠 Step-by-Step Baby-level Explanation:

# 🔸 n = int(input("Enter a number: "))
# 👉 This line says: "Hey user! Please give me a number"
# 🤖 Then it stores that number in a jar called n.

# 🔸 temp = n
# 👉 We make a copy of that number and call it temp
# 🤔 Why? Because we’re going to break temp into pieces later, but we don’t want to touch the original number n.

# 🔸 num_digits = len(str(n))
# 🧮 This counts how many digits are in the number.
# Example:

# 153 → 3 digits

# 9474 → 4 digits

# We need this because Armstrong numbers use the power of digit count.

# 🔸 sum = 0
# 🥣 We prepare an empty bowl called sum
# We’ll keep adding stuff into this bowl — specifically, each digit raised to a power!

# 🔄 Now comes the while loop:

# while temp > 0:
#     c = temp % 10
#     sum += c ** num_digits
#     temp //= 10

# Let’s break it real slow:

# 🔸 c = temp % 10
# 🧲 This pulls out the last digit of the number.
# If temp = 153,
# then 153 % 10 = 3 → So c = 3

# 🔸 sum += c ** num_digits
# 📈 Raise the digit c to the power of num_digits and add to sum.

# Example:
# If c = 3 and num_digits = 3 →
# 3 ** 3 = 27 → So we add 27 into our bowl.

# 🔸 temp //= 10
# ✂️ We cut off the last digit from temp.
# If temp = 153 → Now it becomes 15
# We keep doing this until all digits are processed.

# ❗ Final check:
# python
# Copy
# Edit
# if sum == n:
#     print("Armstrong number")
# else:
#     print("NOT an Armstrong number")
# 👉 We compare the final sum (from the bowl) to the original number.
# If both are same — yayyy 🥳 it’s an Armstrong number!
# Otherwise, nope 😢

# ✅ Example:
# Input: 153

# So it's an Armstrong number!

Enter a number: 121
 NOT an Armstrong number

In [ ]:
# ARMSTRONG NUMBER BY SIR

n = int(input("Enter a number: "))
a = n
a2 = n
if n<0 :
  n=-n
count=0
while n!=0:
  temp = n% 10
  count+=1
  n=n//10
sum=0
while a!=0:
  temp=a%10
  sum=sum+(temp**count)
  a=a//10
if sum==a2:
  print("Armstrong number")
else:
    print("NOT an Armstrong number")

Enter a number: 153
Armstrong number

In [ ]:
# SUM OF NUMBERS

n = int(input("Enter a number: "))
a = n
a2 = n
if n<0 :
  n=-n
count=0
while n!=0:
  temp = n% 10
  count+=1
  n=n//10
sum=0
while a!=0:
  temp=a%10
  sum=sum+(temp)
  a=a//10
print(sum)

Enter a number: 123
6

STATEMENTS

In [ ]:
# BREAK AND CONTINUE STATEMENTS

#-------------------------------------------------------------#

# CONTINUE :
#  continue skips the rest of the current loop and jumps to the next iteration

# EX :
print("for continue")
for i in range (1,11):
  if i==4:
    continue
  print(i)


#-------------------------------------------------------------#
print("\n")


# BREAK :
#break immediately stops the entire loop and jumps out of it.

#EX :
print("for break")
for i in range (1,11):
  if i==4:
    break
  print(i)

for continue
1
2
3
5
6
7
8
9
10


for break
1
2
3

In [ ]:
#-------------------------------------------------------------# 04/07/2025  #-------------------------------------------------------------#

PATTERNS

In [ ]:
# PATTERNS :
# IN BEFORE NESTED LOOP WE USED THIS TYPE TO PRINT PATTERNS
# 🟨 Before Using Nested Loops Basic Pattern Printing
# When we didn’t know about nested loops, we used to repeat the same for loop again and again manually to print patterns like a square of stars
for i in range (1,5):
  print("*",end=' ')
print()
for i in range (1,5):
  print("*",end=' ')
print()
for i in range (1,5):
  print("*",end=' ')
print()
for i in range (1,5):
  print("*",end=' ')
print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
# AFTER USING NESTED LOOPING
l=10
b=20
for i in range (1,l+1):
  for j in range (1,b+1):
    print("*",end='')
  print()

********************
********************
********************
********************
********************
********************
********************
********************
********************
********************

In [ ]:
# alphabet = {
#     'A': ["  *  ", " * * ", "*****", "*   *", "*   *"],
#     'B': ["**** ", "*   *", "**** ", "*   *", "**** "],
#     'C': [" ****", "*    ", "*    ", "*    ", " ****"],
#     'D': ["**** ", "*   *", "*   *", "*   *", "**** "],
#     'E': ["*****", "*    ", "**** ", "*    ", "*****"],
#     'F': ["*****", "*    ", "**** ", "*    ", "*    "],
#     'G': [" ****", "*    ", "* ***", "*   *", " ****"],
#     'H': ["*   *", "*   *", "*****", "*   *", "*   *"],
#     'I': ["*****", "  *  ", "  *  ", "  *  ", "*****"],
#     'J': ["  ***", "   * ", "   * ", "*  * ", " **  "],
#     'K': ["*   *", "*  * ", "***  ", "*  * ", "*   *"],
#     'L': ["*    ", "*    ", "*    ", "*    ", "*****"],
#     'M': ["*   *", "** **", "* * *", "*   *", "*   *"],
#     'N': ["*   *", "**  *", "* * *", "*  **", "*   *"],
#     'O': [" *** ", "*   *", "*   *", "*   *", " *** "],
#     'P': ["**** ", "*   *", "**** ", "*    ", "*    "],
#     'Q': [" *** ", "*   *", "*   *", "*  **", " ****"],
#     'R': ["**** ", "*   *", "**** ", "*  * ", "*   *"],
#     'S': [" ****", "*    ", " *** ", "    *", "**** "],
#     'T': ["*****", "  *  ", "  *  ", "  *  ", "  *  "],
#     'U': ["*   *", "*   *", "*   *", "*   *", " *** "],
#     'V': ["*   *", "*   *", "*   *", " * * ", "  *  "],
#     'W': ["*   *", "*   *", "* * *", "** **", "*   *"],
#     'X': ["*   *", " * * ", "  *  ", " * * ", "*   *"],
#     'Y': ["*   *", " * * ", "  *  ", "  *  ", "  *  "],
#     'Z': ["*****", "   * ", "  *  ", " *   ", "*****"],
# }

# # 🔠 Get user input
# name = input("Enter your name (in CAPITAL letters): ").upper()

# # 🖨️ Print the star pattern line-by-line
# for row in range(5):
#     for char in name:
#         if char in alphabet:
#             print(alphabet[char][row], end="  ")
#         else:
#             print("     ", end="  ")  # space for unsupported chars
#     print()

In [ ]:
n=1
for i in range (1,n+1):
  print("*")

*

In [ ]:
# USING NESTED
n=int(input())
for i in range (1,n+1):
  for j in range (1,i+1):
    print("*",end='')
  print()

5
*
**
***
****
*****

In [ ]:
# prompt: generate an an code that take user input and print triangle by loop  with single input in that the middle has to gap

n = int(input())

for i in range(1, n + 1):
    if i == 1:
        print(" " * (n - i) + "*")
    elif i == n:
        print("*" * (2 * i - 1))
    else:

        print(" " * (n - i) + "*" + " " * ((2 * i - 1) - 2) + "*")

6
     *
    * *
   *   *
  *     *
 *       *
***********

In [ ]:
n = int(input())

if n > 0:
    for i in range(1, n + 1):
        print(" " * (n - i), end="")  # add spaces before letters
        for j in range(i):
            print(chr(65 + j), end="")
        print()  # new line after each row
else:
    print("No output generated")

5
    A
   AB
  ABC
 ABCD
ABCDE

In [ ]:
n = int(input("Enter number of rows: "))

# Upper half
for i in range(1, n + 1):
    print("*" * i + " " * (2 * (n - i)) + "*" * i)

# Lower half
for i in range(n - 1, 0, -1):
    print("*" * i + " " * (2 * (n - i)) + "*" * i)

Enter number of rows: 7
*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *

In [ ]:
# ASCII VALUES
for i in range(1,256):
  print(i,"-> ",chr(i))

1 ->  
2 ->  
3 ->  
4 ->  
5 ->  
6 ->  
7 ->  
8 ->  
9 ->
10 ->

11 ->
12 ->
13 ->
14 ->  
15 ->  
16 ->  
17 ->  
18 ->  
19 ->  
20 ->  
21 ->  
22 ->  
23 ->  
24 ->  
25 ->  
26 ->  
27 ->  
28 ->
29 ->
30 ->
31 ->
32 ->
33 ->  !
34 ->  "
35 ->  #
36 ->  $
37 ->  %
38 ->  &
39 ->  '
40 ->  (
41 ->  )
42 ->  *
43 ->  +
44 ->  ,
45 ->  -
46 ->  .
47 ->  /
48 ->  0
49 ->  1
50 ->  2
51 ->  3
52 ->  4
53 ->  5
54 ->  6
55 ->  7
56 ->  8
57 ->  9
58 ->  :
59 ->  ;
60 ->  <
61 ->  =
62 ->  >
63 ->  ?
64 ->  @
65 ->  A
66 ->  B
67 ->  C
68 ->  D
69 ->  E
70 ->  F
71 ->  G
72 ->  H
73 ->  I
74 ->  J
75 ->  K
76 ->  L
77 ->  M
78 ->  N
79 ->  O
80 ->  P
81 ->  Q
82 ->  R
83 ->  S
84 ->  T
85 ->  U
86 ->  V
87 ->  W
88 ->  X
89 ->  Y
90 ->  Z
91 ->  [
92 ->  \
93 ->  ]
94 ->  ^
95 ->  _
96 ->  `
97 ->  a
98 ->  b
99 ->  c
100 ->  d
101 ->  e
102 ->  f
103 ->  g
104 ->  h
105 ->  i
106 ->  j
107 ->  k
108 ->  l
109 ->  m
110 ->  n
111 ->  o
112 ->  p
113 ->  q
114 ->  r
115 ->  s
116 ->  t
117 ->  u
118 ->  v
119 ->  w
120 ->  x
121 ->  y
122 ->  z
123 ->  {
124 ->  |
125 ->  }
126 ->  ~
127 ->  
128 ->  
129 ->  
130 ->  
131 ->  
132 ->  
133 ->
134 ->  
135 ->  
136 ->  
137 ->  
138 ->  
139 ->  
140 ->  
141 ->  
142 ->  
143 ->  
144 ->  
145 ->  
146 ->  
147 ->  
148 ->  
149 ->  
150 ->  
151 ->  
152 ->  
153 ->  
154 ->  
155 ->  
156 ->  
157 ->  
158 ->  
159 ->  
160 ->
161 ->  ¡
162 ->  ¢
163 ->  £
164 ->  ¤
165 ->  ¥
166 ->  ¦
167 ->  §
168 ->  ¨
169 ->  ©
170 ->  ª
171 ->  «
172 ->  ¬
173 ->  ­
174 ->  ®
175 ->  ¯
176 ->  °
177 ->  ±
178 ->  ²
179 ->  ³
180 ->  ´
181 ->  µ
182 ->  ¶
183 ->  ·
184 ->  ¸
185 ->  ¹
186 ->  º
187 ->  »
188 ->  ¼
189 ->  ½
190 ->  ¾
191 ->  ¿
192 ->  À
193 ->  Á
194 ->  Â
195 ->  Ã
196 ->  Ä
197 ->  Å
198 ->  Æ
199 ->  Ç
200 ->  È
201 ->  É
202 ->  Ê
203 ->  Ë
204 ->  Ì
205 ->  Í
206 ->  Î
207 ->  Ï
208 ->  Ð
209 ->  Ñ
210 ->  Ò
211 ->  Ó
212 ->  Ô
213 ->  Õ
214 ->  Ö
215 ->  ×
216 ->  Ø
217 ->  Ù
218 ->  Ú
219 ->  Û
220 ->  Ü
221 ->  Ý
222 ->  Þ
223 ->  ß
224 ->  à
225 ->  á
226 ->  â
227 ->  ã
228 ->  ä
229 ->  å
230 ->  æ
231 ->  ç
232 ->  è
233 ->  é
234 ->  ê
235 ->  ë
236 ->  ì
237 ->  í
238 ->  î
239 ->  ï
240 ->  ð
241 ->  ñ
242 ->  ò
243 ->  ó
244 ->  ô
245 ->  õ
246 ->  ö
247 ->  ÷
248 ->  ø
249 ->  ù
250 ->  ú
251 ->  û
252 ->  ü
253 ->  ý
254 ->  þ
255 ->  ÿ

In [ ]:
# ABCD PATTERN
n=5
for i in range(1,n+1):
  k='A'
  for j in range(1,i+1):
    print(k,end="")
    k=(ord(k)+1)
    k=chr(k)
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
height = int(input("Enter the height of the triangle: "))
for i in range(1, height + 1):
    print(" " * (height - i), end="")
    for j in range(1, 2 * i): # Added inner loop for columns
        if i == height or j == 1 or j == 2 * i - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter the height of the triangle: 5
    *
   * *
  *   *
 *     *
*********

In [ ]:
#-------------------------------------------------------------# 09/07/2025  #-------------------------------------------------------------#

In [ ]:
# FUNCTIONS

#BEFORE FUNCTIONS
for i in range (1,11) :
  print(i)
for i in range (11,21) :
  print(i)
for i in range (21,51) :
  print(i)
for i in range (1,11) :
  print(i)
for i in range (1,11) :
  print(i)
for i in range (1,11) :
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (1,11) :
  print(i)
  print()

1

2

3

4

5

6

7

8

9

10

FUNCTIONS

In [ ]:
#FUNCTIONS

# SYNTAX
# WORKING PROCESS
# REAL TIME EXAMPLE


# SYNTAX
# def functionName ():
#   block of code

# functioncalling()

# def key word is uesd to define a function
# '()' these are parenticies
# block of code used to define a code
# functioncalling is used to call the function

# BEFORE FUNCTIONS WE USE FOR LOOP FOR PRINTING NUMBERS OR SOMETHING ETC

# AFTER FUNCTIONS WE USE FUNCTIONS FOR PRINTING NUMBERS OR SOMETHING IN EASY WAY

# EX :1

def function ():
  for i in range (1,11) :
    print(i)
  print()
function()
function()

# EX :2
def spoc ():
  print("INSTRUCTED ABOUT ATTENDANCE AND FINE")
spoc()

1
2
3
4
5
6
7
8
9
10

1
2
3
4
5
6
7
8
9
10

INSTRUCTED ABOUT ATTENDANCE AND FINE

In [ ]:
#EX :3

def fun1to10():
  for i in range (1,11) :
    print(i,end=' ')
  print()
def fun11to20():
  for i in range (11,21) :
    print(i,end=' ')
  print()
def fun21to50():
  for i in range (21,51) :
    print(i,end=' ')
fun1to10()
fun11to20()
fun21to50()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
#EX :4

def fun1to10(st,end):
  for i in range (st,end+1):
    print(i,end=' ')
  print()
fun1to10(1,10)
fun1to10(12,35)

1 2 3 4 5 6 7 8 9 10
12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35

In [ ]:
# # TYPES OF USER DEFINED FUNCTIONS :
# 1.WITHOUT RETURN TYPE WITHOUT PARAMETERS
# 2.WITHOUT RETURN TYPE WITH PARAMETERS
# 3.WITH RETURN TYPE WITHOUT PARAMETERS
# 4.WITH RETURN TYPE WITH PARAMETERS

In [ ]:
# 1.WITHOUT RETURN TYPE WITHOUT PARAMETERS
def function ():
  for i in range (1,11) :
    print(i)
  print()
function()

1
2
3
4
5
6
7
8
9
10

In [ ]:
#HEAVY CODE WITHOUT USING PARAMETERS

def sumof1to10():
  sum=0
  for i in range (1,11):
    sum=sum+i
  print(sum)
  print()
def sumof1to20():
  sum=0
  for i in  range(1,21):
    sum=sum+i
  print(sum)
sumof1to10()
sumof1to20()

55

210

In [ ]:
# 2.WITHOUT RETURN TYPE WITH PARAMETERS
def fun1to10(st,end):
  for i in range (st,end+1):
    print(i,end=' ')
  print()
fun1to10(1,10)

1 2 3 4 5 6 7 8 9 10

In [ ]:
#OPTIMIZED CODE BY USING PARAMETERS
def sum(end):
  sum=0
  for i in range (1,end+1):
    sum=sum+i
  print(sum)
  print()
sum(10)
sum(20)

55

210

In [ ]:
# BRUTEFORCE : THE INSTANT WORK DONE (WORST CASE)
# OPTIMIZED : AN ORDER TO DONE THE WORK (BEST CASE)

In [ ]:
# 3. with  return type  without  parameter
def sum():
  sum=0
  for  i in range(1,21):
    sum=sum+i
  return sum
var1=sum()
var2=sum()
print(var1)
print(var2)
sum=var1+var2
print(sum)

210
210
420

In [ ]:
# 4.WITH RETURN TYPE WITH PARAMETERS
def sum(end):
  sum=0
  for i in range(end+1):
    sum=sum+i
  return sum
var1=sum(20)
var2=sum(40)
print(var1)
print(var2)
sum=var1+var2
print(sum)

210
820
1030

In [ ]:
#GREATEST NUMBER USING FUNCTIONS
def greatestnumber(a,b,c):
  if a>b and a>c :
    print("a is greatest")
  elif b>a and b>c :
    print("b is greatest")
  else :
    print("c is greatest")
a,b,c=map(int,input().split()) # Corrected line: added () to call split()
greatestnumber(a,b,c)

10 12 13
c is greatest

In [ ]:
# MAKING OF BUTTERFLY PATTERN
n=int(input())
for i in range(1,n+1):
  for j in range (i):
    print("*",end='')
  print()
for i in range(n,0,-1):
  for j in range (i):
    print("*",end='')
  print()

6
*
**
***
****
*****
******
******
*****
****
***
**
*

In [ ]:
# BUTTER FLY
n=int(input())
for i in range (1,n+1):
    for j in range(1,i+1):#1
        print("*",end="")
    for j in range(1,n-i+1):#2 (spaces)
        print(" ",end="")
    for j in range(1,n-i+1):#2 (spaces)
        print(" ",end="")
    for j in range(1,i+1):#1
        print("*",end="")
    print()
for i in range (n,0,-1):
    for j in range(1,i+1):#2 (spaces)
        print("*",end="")
    for j in range(1,n-i+1):#2 (spaces)
        print(" ",end="")
    for j in range(1,n-i+1):#1
        print(" ",end="")
    for j in range(1,i+1):#1
        print("*",end="")
    print()

7
*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************
**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *

In [ ]:
#-------------------------------------------------------------# 10/07/2025  #-------------------------------------------------------------#

In [ ]:
# BRUTE FORCE APPROACH (LV:1)

def f1():
  print("1")
def f2():
  print("2")
def f3():
  print("3")
def f4():
  print("4")
def f5():
  print("5")

f1()
f2()
f3()
f4()
f5()

1
2
3
4
5

In [ ]:
# BRUTE FORCE APPROACH (LV:2)

def f1():
  print("1")
  f2()
def f2():
  print("2")
  f3()
def f3():
  print("3")
  f4()
def f4():
  print("4")
  f5()
def f5():
  print("5")
f1()

1
2
3
4
5

In [ ]:
# BRUTE FORCE APPROACH (LV:3)

def f1(v):
  print(v)
  f2(v+1)
def f2(v):
  print(v)
  f3(v+1)
def f3(v):
  print(v)
  f4(v+1)
def f4(v):
  print(v)
  f5(v+1)
def f5(v):
  print(v)
f1(1)

1
2
3
4
5

In [ ]:
def f(v):
  print(v)
  if v < 500:
    f(v+1)

f(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [ ]:
# POWER OF RETURN

# RETURN IS USED FOR RETURN THE CODE FROM THE RETURN PLACED

# EX :1

def f():
  print("hello")
  print("world")
  return
  print("this is not printed")
f()

hello
world

In [ ]:
# EX :2

def f(v):
  if v==6:
    return
  print(v)
  f(v+1)
f(1)

1
2
3
4
5

In [ ]:
# EX :3

def f(v):
    if v == 6:
        return
    f(v + 1)
    print(v)

f(1)

5
4
3
2
1

In [ ]:
#SUM OF 5 NUMBERS USING RECURRSION
def f(v,sum):
  if v==6:
    print(sum)
    return
  sum=sum+v
  f(v+1,sum)
f(1,0)

15

In [ ]:
#-------------------------------------------------------------# 11/07/2025  #-------------------------------------------------------------#

In [ ]:
#11/7/2025 TEST PROBLEMS

# 6
# num = int(input("Enter a number: "))
# def sumofdigits(n):
#     if n == 0:
#         return 0
#     return n % 10 + sumofdigits(n // 10)
# print(sumofdigits(num))

#________________________________________________________________________________

# 5
# n,m=map(int,input().split())
# def sumofdigits(n,m):
#     return n**m
# print(sumofdigits(n,m))

#________________________________________________________________________________

# 4
# n=int(input())
# print(str(n)[::-1])

#________________________________________________________________________________

# 3
# n = int(input())
# for i in range(1, n + 1):
#     print(" " * (i - 1), end="")
#     for j in range(1, n - i + 2):
#         print(j, end="")
#     for k in range(n - i, 0, -1):
#         print(k, end="")
#     print()

#________________________________________________________________________________

#2
#name = input("Enter a string: ")
# seen = set()

# for c in name:
#     if c in seen:
#         print(c)
#         break
#     seen.add(c)
# else:
#     print("-1")

#________________________________________________________________________________

# 1
# m=int(input())
# def fibonacci (n):
#   a,b=0,1
#   for i in range (n):
#     print(a,end=' ')
#     a, b=b, b+a
# fibonacci(m)

In [ ]:
n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    # Print leading spaces
    print(" " * (i - 1), end="")
    # Print increasing sequence
    for j in range(1, n - i + 2):
        print(j, end="")
    # Print decreasing sequence
    for k in range(n - i, 0, -1):
        print(k, end="")
    print()

Enter the number of rows: 5
123454321
 1234321
  12321
   121
    1

LAMBDA FUNCTION

In [ ]:
#LAMDA FUNCTION SYNTAX :

# FUNCTION NAME = LAMDA PARAMETERS : RETURN EXPRESSIONS/TASKS

def add(a,b):
  return a+b
print(add(1,2))

#LAMDA FUNCTION CODE
add= lambda a,b:a*b
print(add(1,4))

3
4

SCOPE

In [14]:
# SCOPE IS AN RANGE

#EX :1
x=20
def samuyel():
  x=10
  print(x)
samuyel()
print(x)
print()

#EX :2
x=20
def samuyel():
  global x
  x=10
  print(x)
samuyel()
print(x)
print()

#EX :2
def samuyel():
  global x
  x=20
  print(x)
samuyel()
print(x)

10
20

10
10

20
20